.containar{
    margin-top: -3%;
}
.cart {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.StyleP{
    font-size: 5px;
}
.item {
    width: 230px;
    height: 250px;
  background: #fff;
  position: relative;
    padding: 10px;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
border-radius: 10px;
display: inline-block; 
vertical-align: top; 

}
.item:hover{
    border: 1px solid #0481d5;
}
.im{
    transition: 0.5s;
}
.im img{
  border-radius: 10px;  
    width:200px;
    height:200px
}
.item .im:hover{
    scale: 1.1;
}


.buybtn {
    background-color: #000;
    color: white;
}

.deletebtn {
    text-decoration: none;
    background-color: #f44336;
    color: white;
}
.Searsh{
    margin: 40px;
    
    z-index: 3;
   
}
.information{
    align-items: center;
    justify-content: space-between;
    padding-left: 5px; 
    font-size: 0.875rem; /* Equivalent to text-xs in some frameworks */
    font-weight: 600; /* Equivalent to font-semibold */
    color: #000; /* Equivalent to text-black */
    backdrop-filter: blur(4px);
     justify-content: space-between;
   margin-left: 8px;
  }
  .item1{
    display: inline-block; 
  vertical-align: top; 
  height: 300px;
  margin-bottom: 25px;
  }
  .p{
    flex: none; /* Equivalent to flex-none */
    padding: 0.1rem; /* Equivalent to p-2 */
    color: rgb(40, 156, 40);
  
  }
@media only screen and (max-width: 500px) {
    .item1{
      
      margin-bottom: 0px;
      }
    .item {
        width: 180px;
        height: 200px;
        margin-right:2px;
    margin-left: 2px;
    
    }
    .im img{
       height: 180px;
       }
       .Searsh{
        margin: 12px;} 
  }