/* styles/Sidebar.module.css */
.sidebar {
    position: absolute;
    left: 100%;
    min-width:35%;
    height: 100vh;
    z-index: 4;
    position: fixed;
    top: 0;
  right: 50%; /* Initially hidden */
    background-color: #fff;
    color: #000;
    transition: 0.3s;
    padding:20px 0px;
    transform: 1s;

  }
  
  .sidebar.open {
    left: 65%; /* Displayed when open */
  }
 
  
@media only screen and (max-width: 790px) {
    .sidebar  {
   width: 100%;  background-color: #fff;
    }
    .sidebar.open {
        left:0; /* Displayed when open */
      }
  }