/* styles/Navbar.module.css */
.nav {
padding: 20px 10px;
/* background-color: #f8f9fa; */
background-color: #f7fafc;
  color: #000;
  display: flex;
  justify-content:space-between ;
  align-items: center;
 z-index: 1;
}
.Sid{
display: none;
}

.ul {
  margin: 0;
  display: flex;
  align-items: center;
 justify-content: space-between;
  list-style: none;
  padding: 0;
height: 50px;
}

.li {
  display: block;
  margin-right: 20px;
  padding-top: 20px;
}

.a {
  text-decoration: none;
  color: #000;
  transition: 1s;
  display: flex;
}
.ul2none{

display: none;
}
.ul2{
  background: #fff;
  z-index: 10;
  color: #000;
  padding-right: 20px;
border-radius: 10px;
position: absolute;
top: 55px;
transition: 1s;
  display: block;
  width: fit-content;
  height: fit-content;

}
.a2{
  display: block;
  margin: 5px;
}
.Logo{
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  transition: 1s;
  z-index: 1;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Logo:hover{
text-decoration: underline;
}
.a:hover{
  text-decoration: underline;
  }
  .satr{
    text-decoration: underline;
  }
  @media only screen and (max-width: 750px) {
    .nav  {
      display: flex;
  justify-content:space-between ;
  align-items: center;
  height: 70px;
    }
    .a{
      display: none;
    }
    .Sid{
      display:block;
      }
      .Logo{
    margin-left: 90px;

      }
  }